// Font style
$font-stack: 'Lato', sans-serif;

// Background colors
$bg-color-primary : white;
$bg-color-secondary : #222;
$bg-color-tertiary : #333;

// Text colors 
$text-color-primary : #222;
$text-color-secoundary : white;
$text-color-tertiary : rgb(52, 180, 116);
