@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

@import './variables';

body {
    background-color: $bg-color-primary;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    scroll-behavior: smooth;
}

header {
    background-color: $bg-color-primary;
    nav {
        height: 4rem;
        a {
            position: absolute;
            font-size: 2rem;
            text-decoration: none;
            color: $text-color-primary;
            margin-top: .7rem;
            margin-left: .7rem;
            background: $text-color-tertiary;
            font-weight: 700;
            border-radius: 2%;
        }
    }
}

main {
    min-height: 100vh;
    background-color: $bg-color-primary;
    .hero-container {
        min-height: 100vh;
        position: relative;
        .row {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
                font-size: 3rem;
                a {
                    background: $text-color-tertiary;
                    color: $text-color-primary;
                    text-decoration: none;
                    &:hover {
                        color: $text-color-secoundary;
                        transition: 400ms ease-in-out;
                    }
                }
            }
            p {
                text-align: center;
            }
        }
    }

    .timeline-container {
        position: relative;
        min-height: 100vh;
        background-color: $bg-color-secondary;
        color: $text-color-secoundary;
        .timeline {
            border-left: 6px solid $bg-color-primary;
            height: 100%;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 0;
        }
    }

    .work-container {
        min-height: 100vh;
    }

}
// Footer
footer {
    color: $text-color-secoundary;
    .footer-top {
        height: 5rem;
        background-color: $bg-color-tertiary;
    }
    .footer-bottom {
        height: 30rem;
        background-color: $bg-color-secondary;
        display: flex;
        .contact {
            width: 100%;
            height: 100%;
            text-align: center;
            h1{
                padding-top: 1rem;
            }
            p {
                font-weight: 700;
                a {
                    color: $text-color-secoundary;
                    text-decoration: none;
                    &:hover {
                        color: $text-color-tertiary;
                        text-decoration: underline;
                        transition: 400ms ease-in-out;
                    }
                }
            }
        }
        .resume {
            width: 100%;
            height: 100%;
            text-align: center;
            h1 {
                padding-top: 1rem;
            }
            button {
                background-color: $bg-color-primary;
                padding: .5rem 1rem .5rem 1rem;
                text-transform: uppercase;
                font-weight: 700;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: $text-color-tertiary;
                    color: $text-color-secoundary;
                    transition: 400ms ease-in-out;
                }
            }
        }
        .social {
            width: 100%;
            height: 100%;
            text-align: center;
            h1{
                padding-top: 1rem;
            }
            ul {
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;
                list-style-type: none;
                display: inline-flex;
                i {
                    color: $text-color-secoundary;
                    font-size: 2rem;
                    margin: 0rem 1rem 0rem 1rem;
                    &:hover {
                        color: $text-color-tertiary;
                        transition: 400ms ease-in-out;
                    }
                }
            }

        }
    }
}


.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}



